#wrapper {
  margin: 0 auto;
  width: 80%;
}

header {
  background-color: #8c1f28;
  text-align: center;
  border-radius: 25px;
}

h1 {
  color: #f2f2f2;
}

p {
  background-color: #044040;
  color: #f2f2f2;
}
footer {
  color:#f2f2f2;
  background-color: #044040;
  padding: 5px 0px 5px;
  text-align: center;
  border-radius: 25px;
  margin: 15px auto;
}

body {
  background-color: #591c21;
}

a {
  color: #f2f2f2;
}
a:hover {
  color: #D92525;
}
main {
 background-color: #044040;
 color: #f2f2f2;
 padding: 25px 50px 0px;
 border-radius: 20px;
}

.resume_body {
  padding-bottom: 25px
}