* {
  margin: 0 auto;
  padding: 0;
}
html { 
  scroll-padding-top: 58px; 
}
body{
  background-color: #ffe;
  min-width: 299px;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
}
/* header */
#header {
  width: 100%;
  background-color: #ffe;
  border-bottom: 2px solid #132;
}
.navbar-brand:hover{
  transform: scale(1.1);
}
.nav-link:focus,
.nav-link:hover {
  color: #132;
  box-shadow: none;
  outline: none;
}
.dropdown-menu {
  background-color: #ffe;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  background-image: none;
  background-color: #ffe;
}

@media (max-width: 991px) {

  #header .navbar-toggler {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 4px 9px;
  outline: none;
  box-shadow: none;
  }
  #header .navbar-toggler span {
    width: 25px;
    height: 2px;
    background: #132;
    margin: 4px 0;
    transition: 0.3s;
  }
  #header .navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  #header .navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
  }
  #header .navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
}  
li a {
  position: relative;
  color: #132;
  font-weight: 300;
}
li a::before{
  position: absolute;
  content:'';
  margin-top: .26em;
  width: 0;
  left: 0;
  height: 1.4px;
  top: 25px;
  border-radius: 1rem;
  transition: 0.4s ease-in-out;
  background-color: #132;
  
}
li a:hover::before{
  width: 100%;
  background-color: #e96;
}
/* hero section */
#hero {
  color: #ffe;
  width: 100vw;
  height: 100vh;
  min-width: 299px;
}
.overlay {
  border-width: 10px;
  border-image: fill 1 linear-gradient(hsla(141, 17%, 77%, 0.8)98%,hsla(120, 21%, 76%, 0.2));
}
.hero-quote {
  border: 1px dashed #132;
  color: #132;
  border-radius: 1em;
  max-width: fit-content;
  padding-top: .5em;
  padding-bottom: .5em;
  max-width: 300px;
} 
.hero-links a{
  color: #132;
  text-decoration: none;
}
.hero-links a :hover{
  color:#e96;
}
.hero-links {
  border: 1px dashed #132;
  border-radius: 1em;
  max-width: fit-content;
  padding-bottom: .5em;
}
/* main start */
main{
  background-color: #ffe;
}
.content-title {
  border-bottom: 2px solid #bcc;
}
.profile-pic {
  max-width: 200px;
  border: 2px dashed #132; 
  border-radius: 10em;
  margin-bottom: 1em;
}
.section-title h2 {
  padding-top: 1em;
  border-bottom: 2px solid #e96;
}
.resume-title {
  border-bottom: 2px solid #bcc;
  border-width: 50%;
}
.article {
  margin-top: 1em;
}
.article-list li {
  list-style-type: circle;
}
/* portfolio and coursework section */
.col {
  margin-top: 64px;
  padding-top: 1em;
}
.card {
  background-color: #bcc;
  height: 100%;

}
.list-group-item {
  background-color: #132;
  margin: .2em;
  border-radius: 1em;
  color: #ffe;
} 
.card {
  margin-top: 1em; 
}
.card > img {
  width: 256px;
  height: 144px;
  border: 1px dashed #132;
  border-radius: 5px;
  margin-top: 1em;
}
.card-body > p {
  font-style: italic;
}
.card a {
  color: #132;
}
.card a:hover,
.card a:focus {
  color: #ffe;
}
.card-link {
  background-color: #e96;
  text-decoration: none;
  border: 1px solid #132;
  border-radius: 1em;
  width: 100%;
  padding: .3em;
}
/* contact form */
.contact-type {
  border: 1px solid rgb(160, 172, 172);
  width: 256px;
  height: 3em;
  text-align: center;
  align-content: center;
  border-radius: 1em;
  background-color:#bcc;
  color: #132;
  margin-bottom: 2em;
}
.contact-type a {
  text-decoration: none;
  color: #132;
  font-weight: bold;
}
.contact-type a:hover,
.contact-type a:focus {
  color: #ffe;
}
form {
  background-color: #bcc;
  padding: 1em;
  border-radius: 1em;
  margin-top: 1.4em;
  margin-bottom: 1em;
  width: 80vw;
  min-width: 256px;
  max-width: 1200px;
}
input, form > button, textarea {
  border: 1px solid #132;
  border-radius: 1em;
  width: 100%;
  padding: .3em;
}
textarea {
  border-bottom-right-radius: 0;
}
form > button {
  background-color: #e96;
}
label {
  text-align: left;
  font-weight: bold;
}
/* main end */
/* footer start */
footer {
  background-color: #132;
  color: #ffe;
}
.social-links > a { 
  color: #ffe;
  text-decoration: none;
}
.social-links > a:hover{
  color: #e96;
}
/* footer end */